# Entorno virtual
.venv/
venv/

# Python
__pycache__/
*.py[cod]

# Base de datos local
*.db
*.sqlite
*.sqlite3

# Variables de entorno / secretos
.env
.env.*

# Archivos temporales
*.log

# VS Code
.vscode/

# Linux
*~
